:root {

  /* COLORS */
  --clr-bg:      #000000;
  --clr-cream:   #FAF3E6;
  --clr-accent:  #DB654F;
  --clr-muted:   #636161;


  /* FONTS */
  --font-heading:  'Archivo Black', sans-serif;
  --font-subhead:  'Clash Grotesk Variable', sans-serif;
  --font-body:     'Roboto Slab', serif;


  /* FONT SIZES */
  /* 16px */
  --text-sm:   clamp(0.875rem, 1.2vw,  1rem);
  /* 20px */
  --text-md:   clamp(1rem,     1.5vw,  1.25rem);
  /* 25px */
  --text-lg:   clamp(1.25rem,  2vw,    1.5625rem);
  /* 31px */
  --text-xl:   clamp(1.5rem,   2.5vw,  1.9375rem);
  /* 39px */
  --text-2xl:  clamp(1.75rem,  3.2vw,  2.4375rem);
  /* 49px */
  --text-3xl:  clamp(2rem,     4vw,    3.0625rem);
  /* 64px */
  --text-4xl:  clamp(2.5rem,   5.5vw,  4rem);
  /* 88px */
  --text-5xl:  clamp(3rem,     7vw,    5.5rem);


  /* SPACING */
  --space-1:  0.5rem;    /*  8px */
  --space-2:  1rem;      /* 16px */
  --space-3:  1.5rem;    /* 24px */
  --space-4:  2rem;      /* 32px */
  --space-5:  2.5rem;    /* 40px */
  --space-6:  3rem;      /* 48px */
  --space-8:  4rem;      /* 64px */
  --space-10: 5rem;      /* 80px */
  --space-12: 6rem;      /* 96px */
  --space-16: clamp(4rem,   8vw,  8rem);    /* 64–128px */
  --space-20: clamp(6rem,   10vw, 12rem);   /* 96–192px */


  /* LAYOUT */
  --max-width:         1440px;
  --container:         1280px;
  --container-padding: clamp(1rem, 5vw, 4rem);


  /* MISC */
  --radius:     8px;
  --border:     1px solid var(--clr-muted);
  --transition: 250ms ease;

}

/*================================
              misc
================================*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-cream);
}

body {
  background-color: #000000;
  font-family: var(--font-body);
  color: var(--clr-cream);
}

/*================================
              Header
================================*/

header {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 9vh;
  position: fixed;
  z-index: 9;
}

nav {
  margin-left: var(--space-5);
  max-width: clamp(200px, 90vw, 1300px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  padding: .5rem;
  background: transparent;
  border: none;
  z-index: 20;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: .5rem;
}

.ham-line {
  width: 2rem;
  height: .15rem;
  display: inline-block;
  background: var(--clr-cream);
  transition: all 1s ease;
}

nav h2 {
  font-size: var(--text-2xl);
  font-family: var(--font-subhead);
  font-weight: 100;
}

.menu {
  border-radius: 50%;
  inset: 0;
  position: fixed;
  transform-origin: center;
  transform: scale(0);
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: var(--clr-cream);
}

.hamburger.active .line-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line-2 {
  opacity: 0;
}

.hamburger.active .line-3 {
  transform: rotate(-45deg) translate(8px, -10px);
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-item {
  font-family: var(--font-subhead);
  font-size: var(--text-3xl);
  color: var(--clr-bg);
}

/*====================
      Hero
=====================*/

#hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0;
}

.hero-container {
  max-width: clamp( 200px, 90vw, 1300px);
  width: 100%;
  min-height: 80vh;
  margin-top: var(--space-10);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.hero-list {
  text-align: right;
  list-style: none;
  font-weight: 100;
}

.hero-main-text {
  margin-top: var(--space-12);
}

.hero-main-text h1 {
  font-size: var(--text-5xl);
  font-family: var(--font-heading);
}

.h1-span {
  color: var(--clr-accent);
}

.hero-cta {
  margin-top: var(--space-8);
  align-self: end;
  font-size: var(--text-lg);
  font-family: var(--font-heading);
  color: var(--clr-cream);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: var(--space-1);
}

@media (max-width: 600px) {
  nav {margin-left: 0;}
}

/*====================
      Gallery
=====================*/

#gallery {
  background-color: var(--clr-bg);
  z-index: 5;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  max-width: clamp( 200px, 90vw, 1300px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--space-10);
}

.gallery-title {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: var(--space-1);
  font-family: var(--font-subhead);
  font-size: var(--text-md);
  font-weight: 800;
}

.gallery-title::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  opacity: 0.5;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.gallery-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-4);
  margin-bottom: var(--space-12);
}

.gallery-row img {
  max-width: clamp(20rem, 400px, 40rem);
  max-height: clamp(20rem, 400px, 40rem);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.gallery-row-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-subhead);
  font-weight: 600;
  gap: var(--space-2);
  font-size: var(--text-4xl);
  width: 100%;
}

.gallery-row-text p {
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: var(--space-3);
}

.gallery-row-text p::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 500px) {
  .gallery-row {
    flex-direction: column;
    gap: var(--space-6);
  }
}

/*====================
      About
=====================*/

#about {
  background-color: var(--clr-bg);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;
}

.about-container {
  max-width: clamp( 100px, 90vw, 1440px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--space-20);
}

.about-title {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: var(--space-1);
  font-family: var(--font-subhead);
  font-size: var(--text-2xl);
  font-weight: 100;
  align-self: end;
}

.about-title::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  opacity: 0.5;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-title h2 {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: var(--text-lg);
}

.about-text {
  margin-top: var(--space-8);
  font-weight: 600;
  font-family: var(--font-subhead);
  font-size: var(--text-4xl);
}

.about-text .word {
  color: var(--clr-muted);
  opacity: .5;
}

@media (max-width: 600px) {
  .about-text {
    font-size: var(--text-3xl);
  }
}

/*====================
      Testimonial
=====================*/

#testimonial {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-bg);
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-container{
  max-width: clamp( 200px, 90vw, 1300px);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-10);
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  font-family: var(--font-subhead);
  font-weight: 600;
  font-size: var(--text-xl);
  text-align: center;
  width: 90%;
  padding: 2rem;
  position: relative;
}

.grid-colum2 {
  justify-self: end;
  align-self: end;
}

.testimonial p {
  font-size: var(--text-lg);
  align-self: start;
  margin-top: var(--space-2);
}

.testimonial h3 {
  font-size: var(--text-4xl);
}

.t-line-1::after {
  border-right: #FAF3E6 solid 2px;
  opacity: .5;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}

.t-line-2::after {
  border-top: #FAF3E6 solid 2px;
  opacity: .5;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
}

.t-line-3::after {
  border-left: #FAF3E6 solid 2px;
  opacity: .5;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.testimonial-title {
  font-size: var(--text-3xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-6);
}

.testimonial-title p {
  text-align: center;
  margin-right: var(--space-8);
}

.marquee {
  width: 100%;
  background-color: var(--clr-cream);
  color: var(--clr-bg);
  font-family: var(--font-heading);
  font-size: var(--text-md);
  padding: 1rem;
  overflow: hidden;
  margin-top: var(--space-10);
}

.marquee-track {
  display: flex;
  gap: 4rem;
  width: max-content;
}

@media (max-width: 600px) {
  .testimonial-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 3);
  }

  .grid-colum2 {
    grid-row:1 / -1;
  }

  .t-line-1::after, .t-line-2::after, .t-line-3::after {
    display: none;
  }

  .testimonial-title  h2{
    font-size: var(--text-3xl);
  }

  .testimonial-title p {
    text-align: left;
    justify-self: start;
    align-self: start;
  }
}

/*====================
      Artist
=====================*/

#artists {
  background-color: var(--clr-bg);
  z-index: 5;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists-container {
  max-width: clamp( 200px, 90vw, 1300px);
  width: 100%;
  min-height: 80vh;
  margin-top: var(--space-10);
  display: flex;
  flex-direction: column;
}

.artists-title {
  font-family: var(--text-md);
  font-family: var(--font-subhead);
}

.artists-content {
  display: flex;
  gap: var(--space-4);
  margin-bottom: var(--space-16);
  position: relative;
  font-family: var(--font-body);
}

.text-box h2 {
  font-size: var(--text-5xl);
  font-family: var(--font-heading);
  margin-bottom: var(--space-5);
}

.text-box2 h2 {
  font-size: var(--text-5xl);
  font-family: var(--font-heading);
  margin-bottom: var(--space-5);
}

.text-box2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
  padding-bottom: var(--space-4);
  position: relative;
}

.text-box {
  width: 60%;
  margin-right: auto;
  padding-bottom: var(--space-4);
}

.artists-content::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  opacity: 0.5;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.work-btn {
  padding: 1rem 0 1rem 1rem;
  align-self: end;
  font-size: var(--text-md);
  margin-bottom: var(--space-3);
  border: 2px solid var(--clr-cream);
  background: transparent;
  color: var(--clr-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.btn-arr {
  display: block;
  font-weight: 800;
  line-height: 0;
  font-size: var(--text-lg);
  margin-left: var(--space-3);
  padding: .8rem 1rem .8rem .8rem;
}

.work-btn::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  width: 2px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 70%;
}

@media (max-width: 600px) {
  .artists-content {
    flex-direction: column;
  }

  .text-box {
    width: 100%;
  }

  .text-box2 {
    width: 100%;
    text-align: left;
  }

  .work-btn {
    align-self: start;
    justify-self: start;
  }
}  


/*===================
      Portfolios    
===================*/
/*======index.html======*/

#bg-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
}

.portfolio-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111;
  z-index: 100;
  visibility: hidden;
}

.portfolio-overlay iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 101;
}

/*====================*/

.portfolio {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg);
}

.portfolio-container {
  max-width: clamp( 200px, 90vw, 1300px);
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.portfolio h1 {
  font-size: clamp(2.5rem, 8vw, 10rem);
  font-family: var(--font-heading);
}

.style-list {
  width: 100%;
  display: flex;
  gap: var(--space-4);
  margin-top: var(--space-4);
}

.style-list h4 {
  font-size: var(--text-md);
  position: relative;
  padding-right: var(--space-4);
}

.style-list h4::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  width: 2px;
  height: 100%;
  position: absolute;
  opacity: .5;
  top: 0;
  right: 0;
}

.style-list ul {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  list-style: none;
}

.portfolio-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--space-6);
}

.small-images {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: var(--space-6);
  column-gap: var(--space-4);
  gap: var(--space-6);
  margin-right: auto;
}

.small-images img {
  width: 100%;
  min-height: 200px;
  background-color: var(--clr-muted);;
}

.big-img {
  max-width: clamp(200px, 90vw, 400px);
  min-height: 400px;
  width: 100%;
  background-color: var(--clr-muted);
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-2);
}

.portfolio-links {
  display: flex;  
  height: 100%;
  gap: var(--space-6);
  margin-left: var(--space-6);
  font-size: var(--text-md);
}

.portfolio-links a {
  position: relative;
  padding: .5rem;
}

.portfolio-links a::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  width: 100%;
  height: 2px;
  position: absolute;
  opacity: .5;
  bottom: 0;
  right: 0;
  transition: all .5s ease-in-out;
  transform: scaleX(0);
}

.portfolio-links a:hover::after {
  transform: scaleX(1);
}

.portfolio-cta {
  font-size: var(--text-lg);
  font-family: var(--font-heading);
  color: var(--clr-cream);
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: var(--space-6);
}

@media (max-width: 600px) {
  .small-images {
    width: 100%;
    margin-bottom: var(--space-6);
  }

  .portfolio-links {
    margin-left: var(--space-3);
    flex-direction: column;
    gap: var(--space-2);
  }

  footer {
    min-height: 13vh;
  }
}

/*====================
      Steps
=======================*/

#how-it-works {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg);
  position: relative;
  z-index: 5;
}

.steps-container {
  max-width: clamp( 200px, 90vw, 1300px);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);
}

.steps {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.steps-title {
  font-size: var(--text-4xl);
  line-height: 4rem;
  font-family: var(--font-subhead);
  margin-bottom: var(--space-4);
}

.steps-title p {
  font-size: var(--text-lg);
}

.step-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-top: 2px solid;
  border-bottom: 2px solid;
  gap: var(--space-4);
  overflow: hidden;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.step-card:hover {
  background-color: var(--clr-cream);
  color: var(--clr-bg);
  transform: scale(1.05);
}

.step-cardInner {
  height: 80px;
  display: flex;
  flex-direction: column;
}

.step-card h4 {
  font-size: var(--text-2xl);
  font-weight: 200;
  text-align: center;
  margin-top: var(--space-1);
  margin-bottom: var(--space-2);
}

.step-card p {
  margin-bottom: var(--space-4);
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.booking {
  align-self: center;
}

.booking h4 {
  font-size: var(--text-md);
  font-weight: 200;
  margin-bottom: var(--space-4);
  position: relative;
  padding-bottom: .5rem;
}

.booking h4::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  width: 100%;
  height: 2px;
  opacity: .5;
  position: absolute;
  bottom: 0;
  left: 0;
}

#booking-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

#booking-form input {
  background: transparent;
  border: 2px solid var(--clr-cream);
  padding: var(--space-1);
  border-radius: .5rem;
  color: var(--clr-cream);
}

#booking-form input::placeholder, #booking-form textarea::placeholder {
  color: var(--clr-cream);
}

#booking-form textarea {
  background: transparent;
  border: 2px solid var(--clr-cream);
  padding: var(--space-1);
  border-radius: .5rem;
}

#booking-form button {
  padding: 1rem 0 1rem 1rem;
  align-self: end;
  font-size: var(--text-md);
  margin-bottom: var(--space-3);
  border: 2px solid var(--clr-cream);
  background: transparent;
  color: var(--clr-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#booking-form button::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  width: 2px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 70%;
}

#booking-form select {
  background: transparent;
  border: 2px solid var(--clr-cream);
  padding: var(--space-1);
  border-radius: .5rem;
  color: var(--clr-cream);
}

#booking-form select option {
  background: var(--clr-bg);
  border: none;
  padding: var(--space-1);
  color: var(--clr-cream);
}

.input-small {
  width: 80%;
}

@media (max-width: 600px) {
  .steps-container {
    grid-template-columns: 1fr;
  }

  .step-card {
    width: 100%;
  }

  .step-card h4 {
    margin-top: var(--space-3);
    margin-bottom: var(--space-2);
  }
}

/*======================
      Footer
======================*/

#index-footer {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-20);
  position: relative;
}

#contact {
  background-color: var(--clr-bg);
  display: flex;
  justify-content: center;
  min-height: auto;
  padding-top: var(--space-8);
  width: 100%;
  border-top: 2px solid var(--clr-muted);
}

.contact-container {
  display: flex;
  flex-direction: column;
  max-width: clamp( 200px, 90vw, 1300px);
  width: 100%;
  gap: var(--space-4);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-info h4 {
  font-size: var(--text-md);
  position: relative;
  padding-bottom: var(--space-1);
}

.contact-info h4::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  width: 100%;
  height: 2px;
  opacity: .5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact-link {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-top: var(--space-1);
}

.contact-link h4 {
  padding-right: var(--space-4);
}

.contact-link a {
  position: relative;
  padding-bottom: var(--space-1);
}

.contact-link a::after {
  content: "";
  display: block;
  background-color: var(--clr-cream);
  width: 100%;
  height: 2px;
  position: absolute;
  opacity: .5;
  bottom: 0;
  right: 0;
  transition: all .5s ease-in-out;
  transform: scaleX(0);
}

.contact-link a:hover::after {
  transform: scaleX(1);
}

.studio-hours{
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-top: var(--space-1);
  text-align: right;
}

.extra-info {
  display: flex;
  justify-content: space-between;;
}

.footer-title h1 {
  font-size: clamp(2.5rem, 8vw, 10rem);
  text-align: center;
  font-family: var(--font-heading);
  letter-spacing: 1rem;
  color: var(--clr-muted);
}

#copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--space-4);
  align-items: center;
  padding: var(--space-2);
  border-top: 2px solid var(--clr-muted);
}

@media (max-width: 600px) {
  .extra-info {
    flex-direction: column;
    gap: var(--space-2);
  }

  .footer-title h1 {
    letter-spacing: 0.5rem;
    margin-top: var(--space-4);
  }
}
